html {
	margin:0;
	padding:0;
	font-size:62.5%;
	background-color:#eff6f6;
}
body {
	font-size:1.8em;
	font-weight:bold;
}
h1 {
	text-align:center;
	font-size:2em;
	color:#fff;
	background-color:#00f;
	margin:0 0 3px 0;
}
.h2 {
	font-size:1.3em;
	color:#063;
	background-color:#0ff;
	margin:0 0 2px 0;
}
li {
	margin:0 0 2px 0;
}
a {
	display:inline-block;
	cursor:pointer;
	padding:2px 2px;
	border:1px solid #61985f;
	background-color:#dedede;
	color:#000;
	text-shadow:1px 1px 0px #4c9c53;
	text-transform:none;
	text-align:center;
	vertical-align:middle;
	border-radius:8px;
}
.productname { color: #600; }
.filename 	{ color: #0cf; }
.command 	{ color: #ffa500; }
.database 	{ color: #60c; }
pre { background-color:#cff; }
