/* Revised version of postgresql's stylesheet.css by Seiliki on 2007/8/18 - for English */

BODY {
	color: #000000;
	background: #FFFFFF;
}

A:link		{ color: #0000FF; }
A:visited	{ color: #840084; }
A:active	{ color: #0000FF; }

/* center titles */

BODY.BOOK H1.TITLE, BODY.SET H1.TITLE {
	text-align: center;
	font-size: 250%;
	font-family: sans-serif;
	color: #020167;
}

BODY.BOOK H3.CORPAUTHOR, BODY.SET H3.CORPAUTHOR {
	text-align: center;
	font-style: bold;
	font-weight: normal;
}

BODY.BOOK .COPYRIGHT, BODY.SET .COPYRIGHT {
	text-align: center;
}

/* decoration for formal examples */

DIV.EXAMPLE {
	padding-left: 15px;
	border-style: solid;
	border-width: 0px;
	border-left-width: 2px;
	border-color: black;
	margin: 0.5ex;
}

/* less dense spacing of TOC */

.SET .TOC DL DT, .BOOK .TOC DL DT {
	padding-top: 1.5ex;
	padding-bottom: 1.5ex;
}

.SET .TOC DL DL DT, .BOOK .TOC DL DL DT {
	padding-top: 0ex;
	padding-bottom: 0ex;
}

.SCREEN, .SYNOPSIS, .PROGRAMLISTING {
	margin-left: 4ex;
}

/* .NAVHEADER TH	{ font-style: italic; } */
.COMMENT	{ color: red; }

VAR		{ font-family: monospace; font-style: italic; }
/* Konqueror's standard style for ACRONYM is italic. */
ACRONYM		{ font-style: inherit; }

TT.literal	{ color: #CCFF33 }
